<div class="footer-wrapper">
  <mat-toolbar>
    <div class="info-block">
      <div class="info-item">
        <p>Count:</p>
        <p>{{products.totalCount}}</p>
      </div>
      <div class="info-item">
        <p>Sum:</p>
        <p>{{products.sum}}</p>
      </div>
      <div class="info-item">
        <p>Average:</p>
        <p>{{products.average}}</p>
      </div>
    </div>
    <button mat-button title="Delete All">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </mat-toolbar>
</div>
