<div class="product-wrapper">
  <h3>New product</h3>
  <mat-card>
    <form [formGroup]="productForm"
          class="product-form">
      <mat-form-field>
        <input matInput placeholder="Title" name="title"
               type="text" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category"
                    name="category" placeholder="Category">
          <mat-option value="food">Food</mat-option>
          <mat-option value="auto">Auto</mat-option>
          <mat-option value="estate">Estate</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" name="description"
                  type="text" formControlName="description"
                  rows="5" length="255" mdbCharCounter mdbInput>
      </textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" name="price"
               type="number" formControlName="price" step="0.01"
               min="0.00" max="1e9">
      </mat-form-field>
      <div class="input-file">
        <button mat-button (click)="fileInput.click()">
          Select product image file
          <mat-icon>crop_original</mat-icon>
        </button>
        <input #fileInput hidden type="file" 
               name="image" accept=".jpg, .png" (change)="onFileSelected($event)">
      </div>
      <div class="submit-button">
        <button mat-raised-button type="submit" [disabled]="productForm.invalid"
                (click)="onSubmit()">
          Create
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
